body{
	counter-reset: section 65;
}
table{
	width:500px;
	height: 500px;
	border: 5px solid #000000;
	border-collapse: collapse;
}
td {
   	width: 12.5%;
   	height:12.5%;
}
tr:nth-child(2n+1)>td:nth-child(2n+1){
 	background-color:#000000;
}
tr:nth-child(2n)>td:nth-child(2n){
 	background-color:#000000;
}


