.frame_1_1 {
width: 80%;
padding: 3em;
background-image: url(../img/r-b.png), url(../img/l-b.png), url(../img/l-t.png), url(../img/r-t.png), url(../img/l.png), url(../img/r.png), url(../img/t.png), url(../img/b.png);
background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-y, repeat-x, repeat-x;
background-position: bottom right, bottom left, top left, top right, left, right, top, bottom;
}
.frame_1_2{
	width: 80%;
	padding: 3em;
	background: url(../img/r-b.png) no-repeat bottom right, url(../img/l-b.png) no-repeat bottom left, url(../img/l-t.png) no-repeat top left, url(../img/r-t.png) no-repeat top right, url(../img/l.png) repeat-y left, url(../img/r.png) repeat-y right, url(../img/t.png) repeat-x top,url(../img/b.png) repeat-x bottom;
}
.frame_4{
	border: 50px solid;
	width: 80%;
	border-image: url(../img/ramka.png) 33% round;
}
.frame_3{
	width: 80%;
	padding: 3em;
}
.border_top_left{
	padding: 3em;
	background: url('../img/l-t.png') no-repeat top left;
}
.border_top_right{
	background: url('../img/r-t.png') no-repeat top right;
}
.border_bottom_left{
	background: url('../img/l-b.png') no-repeat bottom left;
}
.border_bottom_right{
	background: url("../img/r-b.png") no-repeat bottom right;
}
.left{
	background: url('../img/l.png') repeat-y left;
}
.right{
	background: url('../img/r.png') repeat-y right;
}
.top{
	background: url('../img/t.png') repeat-x top;
}
.bottom{
	background: url('../img/b.png') repeat-x bottom;
}

