
.wrapper{
		background-color:#E7E3E3;
}

.navigation{
	background-color:#D3D3D3;
	flex: 15em;
}
.article{
	background-color:#A9A9A9;
	margin-bottom: .2em; 
}
.downsters{
	background-color: #D3D3D3;
	margin-top:-10px;
}
img{
	float: right;
}
@media (min-width: 500px){ /*Свойства будут работать лишь для экранов, разрешение которых больше 500 px.
							Второй вариант для адаптации-это совйство flex-wrap:wrap.*/
	.wrapper{
		background-color:#E7E3E3;
		display: flex;
		align-items: flex-start;  /*Подрезает рамку под объём содержимого.
									Может быть flex-end- выравнивание по самому нижнему элементу,
									flex-center- по середине самого длинного
									stretch- без подрезаний*/
	}
	.content{
		display: flex;
		flex: calc(100% - 15em);
		flex-direction: column; /*располагает боксы вертикально стопкой. По умолчанию row горизонтально*/
		/*justify-content: space-between; т.е. добавление промежутков */
	}
}
/*Проблемы: 1)при уменьшении диаметра экрана картинка почты уезжает вниз.*/