#header{
	font-size: 3.5rem;
}
ul{
	list-style-type: circle;
}
.col-md-4, li a, p a{
	color: #23A4EA;
}
h3{
	font-size: 2.75rem;
}
.col-md-8{
	text-align: justify;
}
li>a:hover{
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}