.men{
	list-style: circle;
}
.men>li>a,a[href="#Plot"]{
	text-decoration: underline;
}
p{
	text-align: justify;
}
h1{
    font-size: 3.8rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 3rem;
}
header{
	margin-bottom: 10px;
}
.grid-x{
	margin-bottom: 10px;
	margin-top: 10px;
}