.Week{
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.Day{
	height: 40px;
	width: 150px;
	background-color: #E0E0E0;
	color: #5E5E5E;
	font-weight: bold;
	font-size: 25px;
	border-style:solid;
	border-width: 2px;
	border-color:#000000;
	border-radius: 7px;
	
}
div.Week> div{
	position: relative;
	cursor: pointer
}
div.Meal{
	height: 40px;
	width: 150px;
	display: none;
}
div.Meal > div{
	background-color: #E0E0E0;
	color: #5E5E5E;
	font-weight: bold;
	font-size: 25px;
	border-style:solid;
	border-width: 2px;
	border-color:#000000;
	border-radius: 7px;
	cursor: pointer;
}
div.Week > div:hover div.Meal{
	display: block;
	position: absolute;
	left: 0%;
	top: 90%;
	z-index: 1;
}
.Day:hover {
	background: #AAAAAA;
}
.S:hover {
	background: #AAAAAA;
	-webkit-transform: scale(1.2); /*Решила для дополнительного выделения увеличить размер при наведении курсором*/
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.B:hover {
	background: #AAAAAA;
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.D:hover {
	background: #AAAAAA;
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
@media all and (max-width: 900px){
	.Week{
		flex-direction: column;
	}
	div.Week > div:hover div.Meal{
	display: block; 
	position: absolute; 
	left: 100%; 
	top: 0%; 
	z-index: 1;
	}
}