*{
  box-sizing: border-box;
}
.Content{
	text-align: center;
}
.Days{
	display: inline-block;
	list-style: none;
 	padding-left: 0;
  	margin: 0;  
}
.Days > li{
	display: inline-block;
    height: 40px;
	width: 150px;
	background-color: #E0E0E0;
	color: #5E5E5E;
	font-weight: bold;
	font-size: 25px;
	border-style:solid;
	border-width: 2px;
	border-color:#000000;
	border-radius: 7px;
	cursor: pointer;
	position: relative;
	text-align: left;
}
.Days > li:hover{
	background: #AAAAAA;
}
.Meals{
  	position: absolute;
  	top: 100%;
  	left: 0;
  	list-style: none;
  	height: 40px;
	width: 150px;
	padding-left: 0;
	
}
.Meals > li{
	background-color: #E0E0E0;
	color: #5E5E5E;
	font-weight: bold;
	font-size: 25px;
	border-style:solid;
	border-width: 2px;
	border-color:#000000;
	border-radius: 7px;
	cursor: pointer;
	text-align: left;
	height: 0;
  	opacity: 0;
  	transition: height 0.3s, opacity 0.4s;
}
.Meals > li:hover{
	background: #AAAAAA;
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.Days > li:hover > ul li{
	opacity: 1;
	height: 40px;
}


@media all and (max-width: 900px){
	.Days, .Days > li{
		display: block;
	}
	.Days > li:hover .Meals{
	display: block; 
	position: absolute; 
	left: 100%; 
	top: 0%;
	z-index: 1; 
	}
}