.wrapper{
	background-color: #DCDCDC;
}
.navigation{
	/*width: 15em;*/
	width: 15%;
	background-color: #D3D3D3;
	float: left;
}
.article{
	/*margin-bottom: 2em;*/
	background-color: #A9A9A9;
}
.content{
	float: left;
	width: 85%;
	/*margin-top: 0em;
	padding-top: 0em;*/
}
.downsters{
	background-color: #D3D3D3;
	clear: both;
	margin-top: 10em;
}
img{
	float: right;
}