.wrapper{
	background-color:#E7E3E3;
	float: left;
	margin-bottom:5px;
}
.navigation{
	width: 15em;
	height: 15em;
	background-color: #D3D3D3;
	float: left;
}

.article{
	width: calc(100% - 15em);
	min-width: 15em;
	margin-bottom: .2em;
	float: left;
	background-color: #A9A9A9;
}
.downsters{
	background-color: #D3D3D3;
	clear: both;
}
img{
	float: right;
}
h3,p{
	margin: 0px;
}
