.wrapper{
	background-color:#E7E3E3;
	/*background-color: #A9A9A9;*/
}
.navigation{
	width: 15em;
	height: 18em;
	background-color: #D3D3D3;
	float: left;
}

.article{
	margin-bottom: .2em;
	background-color: #A9A9A9;
	height: auto;
}
.clear{
	clear: both;
}
.downsters{
	margin-top: 5px;
	background-color: #D3D3D3;	
}
img{
	float: right;
}
p{
	margin: 0px 0px;
}
h3{
	margin: 0px 0px;
}