.dropdown-content{
	opacity: 1;
	right: 100%;
	left: 72%;
	top: 100%;
	z-index:1;
}
nav{
	background-color: #33B698;
}
nav .brand-logo {
    position: absolute;
    left: 19%;
    font-size: 3rem;
    padding: 0;
}
nav .right{
   	display: block!important;
   	position: absolute;
    left: 53%;
    padding: 0;
}
.right li a, .dropdown-trigger{
    font-size: 1.2rem;
}

.parallax-container .parallax img{
    opacity: 1;
}
.parallax-container_1{
	background-attachment: fixed;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/background1.jpg);
 }
 .parallax-container_2{
	background-attachment: fixed;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/background2.jpg);
 }
  .parallax-container_3{
	background-attachment: fixed;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/background3.jpg);
 }
 h1{
 	color: #33B698;
 	text-align: center;
 }
 h5{
 	color:#FFFFFF;
 	text-align: center;
 }
 h6{
 	font-size: 30px;
 	
 }
 .wrapper{
 	margin: 40px;
 	text-align: center;
 }
 p{
 	text-align: justify;
 }
 .page-footer{
    background-color: #33B698;
 }

 @media all and (max-width: 1000px){
    .right li a, .dropdown-trigger{
        display: none;
    }
    nav .brand-logo {
    left: 50%;
    }
   
}